aside.sidebar-drawer {
    width: auto;
}

aside.toc-drawer {
    flex-shrink: 0;
}

div.main div.content {
    width: 0;
    max-width: 1900px;
    flex-grow: 1;
}

.admonition p {
    font-size: 16px;
}

.admonition pre {
    font-size: 16px;
}

.highlight pre {
    font-size: 16px;
}
